Options -Indexes

<FilesMatch "^(\.env|config\.php)$">
    Require all denied
</FilesMatch>

<FilesMatch "\.(sql|log|yaml|yml)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^database/ - [F,L]
</IfModule>
